@using Components.JsInterop;
@using lexboxClientContracts;

@inherits LayoutComponentBase

@implements IDisposable

@inject IJSRuntime JS

<script>
    // getting "process is not defined" error
    globalThis.process = {
        env: {
            NODE_ENV: "production"
        }
    };
</script>

<link rel="stylesheet" href="./_content/LexboxRazor/style.css" />

@* <div class="sidebar">
<NavMenu />
</div> *@

@* <div class="top-row px-4">
<a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
</div> *@

@if (initialized)
{
    @Body
}
else
{
    <div class="page">
        <main>
            <article class="content px-4">
                <p>Initializing...</p>
            </article>
        </main>
    </div>
}

@code {

    private DotNetObjectReference<ILexboxApi>? lexboxApiRef;

    private bool initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        var lexboxApi = new JsInvokableLexboxApi(new InMemoryApi());
        lexboxApiRef = DotNetObjectReference.Create<ILexboxApi>(lexboxApi);
        await JS.InvokeAsync<IJSObjectReference>("import", "./_content/LexboxRazor/lexbox-svelte.js");
        await JS.InvokeVoidAsync("lexbox.DotNetServiceProvider.setService", "LexboxApi", lexboxApiRef);
        initialized = true;
        StateHasChanged();
    }

    public void Dispose()
    {
        lexboxApiRef?.Dispose();
    }
}