@* <script type="module" src="/assets/node_modules/lexbox-svelte/dist/assets/index-dXYP6fgf.js"></script> *@
<script src="_content/RazorClassLibrary1/index.js"></script>

<div class="my-component">
    This component is defined in the <strong>RazorClassLibrary1</strong> library.

    <br>
    And this counter is a svelte web component:
    <lexbox-counter>
        Arrived!!
    </lexbox-counter>
    <br>
    
    But, dotnet build doesn't yet pick up changes, so you currently have to explicitly rebuild.
</div>
