@* <script type="module" src="/assets/node_modules/lexbox-svelte/dist/assets/index-dXYP6fgf.js"></script> *@

<div class="my-component">
    This is a razor component
    <br>
    It contains a svelte web component:
    <lexbox-counter>
        This is slot content passed from the razor component
    </lexbox-counter>
</div>
